{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/prompts/prompts-detail.css' %}"
/>
<script defer src="{% static 'js/cat-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1 class="index-h1">Prompt Details</h1>
  <img class="line-img" src="{% static 'images/research.png' %}" alt="A long line" />
</section>
<div class="details-contents">
  <section class="cat-container">
    <div class="cat-img">
      <img 
        class="prompt-img"
        src="{% static 'images/startup.png' %}" 
        alt="A skater boy cat"
      >
    </div>
    <div class="cat-details">
      <h1>{{ prompt.topic }}</h1>
      <p>{{ prompt.question }}</p>
      <div class="cat-actions">
        <a href="{% url 'prompts_update' prompt.id %}" class="btn warn">Edit</a>
        <a href="{% url 'prompts_delete' prompt.id %}" class="btn danger">Delete</a>
      </div>
    </div>
  </section>
  <div class="feedings-toy-container">
    <section class="feedings">
      <div class="subsection-title">
        <h2>Responses</h2>
        <img 
          src="{% static 'images/takeoff.png' %}" 
          alt="An ice cream cone cat"
        />
      </div>
      <h3>Add a Response</h3>
      <form
        action="{% url 'add_car' prompt.id %}"
        method="post" 
        class="subsection-content"
      >
        {% csrf_token %}
        {{ car_form.as_p }}
        <button type="submit" class="btn submit">Add Response</button>
      </form>
      <h3>Past Responses</h3>
      {% if prompt.car_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Response</th></tr>
        </thead>
        <tbody>
          {% for car in prompt.car_set.all %}
            <tr>
              <td>{{car.date}}</td>
              <td>{{car.get_car_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="subsection-content">
        <p>No responses yet.</p>
      </div>
    {% endif %}
    </section>
  </div>
  <div class="back-btn-div">
    <a class="back-link" href="{% url 'prompts_index' %}"><button class="btn back">Go Back</button></a>
  </div>
</div>

{% endblock %}