{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/prompts/prompts-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1 class="index-h1">All Prompts</h1>
  <img class="line-img" src="{% static 'images/research.png' %}" alt="A long line" />
</section>
<div class="index-contents">
  <section class="card-container">
    {% for prompt in prompts %}
      <div class="card">
        <a class="cardlink" href="{% url 'prompts_detail' prompt.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img 
                class="rocket-img"
                src="{% static 'images/startup.png' %}" 
                alt="A rocketship"
              >
            </div>
            <h2 class="card-title">{{ prompt.topic }}</h2>
            <p><small>{{ prompt.question }}</small></p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
</div>

{% endblock %}