
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/splash.svg' %}"
  >
  <title>Beba</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="/">HOME</a></li>
          <li><a href="{% url 'prompts_index' %}">ALL PROMPTS</a></li>
          <li><a href="{% url 'prompts_create' %}">ADD A PROMPT</a></li>
          <li><a href="{% url 'about' %}">ABOUT</a></li>
          <li><a href="{% url 'logout' %}">LOG OUT</a></li>
        {% else %}
          <li><a href="/">HOME</a></li>
          <li><a href="{% url 'about' %}">ABOUT</a></li>
          <li><a href="{% url 'home' %}">LOGIN</a></li>
          <li><a href="{% url 'signup' %}">SIGN UP</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>