.page-header {
  width: 100%;

  background-color: #ff5148;
}


.index-h1 {
  font-size: 2.8em;
}

.index-content {
  padding: 40px 0 0 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}


.card {
  width: 280px;
  margin: 10px;
  border: 3px solid black;
  box-shadow: 4px 5px 2px #ff514869;
}

.cardlink:hover, .card:hover {
  background-color: #7ad8e929;
}

.card:active, .cardlink:active {
  background-color: #ffdd782b;
  box-shadow: 1px 2px 3px #ff5148d2;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.card-img-container{
  width: 40%;
}

.rocket-img {
  width: 80%;
}
.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
  text-align: center;
}



.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
  text-align: center;
}


@media only screen and (min-width: 768px) {
  body, main, header {
    width:100vw;
  }

  .page-header {
    width: 100%;
  
    background-color: #ff5148;
  }
  
  header {
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
    background-color: #ff5148;
  }

  main {

    min-height: calc(100vh - 53px);
  }
}

@media only screen and (min-width: 1024px) {
  
  body, main, header {
    width:100vw;
  }

  main {
    min-height: calc(100vh - 55px);
  }
  
  header {
    background-color: transparent;
    border-bottom: none;
  }
}